<ion-view title="About" id="page6" on-swipe-right="onSwipeRight()">
  <ion-content padding="true" class="has-header">
    <div class="animated zoomIn">
      <img src="img/hudK8tgTK7A7ofvQbdTQ_about.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="row animated fadeIn">
      <p style="text-align: justify;" dir="auto">تطبيق سيمون وويلسون هو أول تطبيق متخصص باللغة العربية يقدم توصيات يومية مباشرة لكل ما يخص المضاربات والاستثمارات الإلكترونية في كل مجالاتها والتي تشمل الفوركس والعملات الرقمية.

ولأول مرة في منطقة الشرق الأوسط توصيات خاصة بالخيارات الثنائية بشكل مركز ومختصر وباللغة العربية بالكامل يكتبها لكم نخبة متخصصة من المحللين بالشرق الأوسط.

لن تحتاج بعد الآن إلى البحث عن توصيات أو الاشتراك في قنوات توصيات فتطبيق سيمون وويلسون يحضر لك التوصية في لحظتها.</p>
    </div>
    <div class="row animated fadeIn">
      <div class="col-10"></div>
      <div class="col-40" style="padding: 5px;"><a href="https://twitter.com/SimonandWilson"><img src="img/twitter.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;"></a></div>
      <div class="col-40" style="padding: 5px;"><a href="https://t.me/simonandwilson"><img src="img/telegram.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;"></a></div>
      <div class="col-10"></div>
    </div>

    <div class="spacer" style="height: 10px;"></div>
    <div id="about-markdown3" class="show-list-numbers-and-dots animated fadeIn" style="text-align: center;">
      <p style="color:#47352B;">Designed and Developed by
        <strong>Apptroniks</strong>
        <br>Copyright
        <strong>©2018</strong>
      </p>
    </div>
  </ion-content>
</ion-view>