<ion-view title="IQ Options" id="page3" on-double-tap="scrollTop()" cache-view="false" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
  <ion-content padding="true" class="has-header">
    

    <div class="card animated fadeIn" style="border-radius: 10px; background-color: #e1d4a9; border: 1px solid #e1d4a9;">
      
       <p style=" margin-top: 8px; color: #8a6d3b" dir="auto"><strong>&nbsp;&nbsp;&nbsp;&nbsp;تنويه:</strong></p>
       <p dir="auto">&nbsp;&nbsp;&nbsp;&nbsp;قريبا جدا جروب خاص بهذا القسم على تليجرام</p>

    </div>

  
  </ion-content>
</ion-view>
